/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
  }

  .titleheader{
    background-color: #333;
    overflow: hidden; 
  }

  .titleheader a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 15px 1px 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    flex: 0 1 auto;
    margin-right: 16px;
  }

  .titleheaderspan {
    float: left;
    color: #a1a0a3;
    font-size: 10px;
    line-height: 28px;
    flex: 0 1 auto;
    margin-left: 17px;
    margin-top: 1px;
  }
  
  /* Style the search box inside the navigation bar */
.topnav input[type=text] {
   
    padding: 3px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    width: 343px;
  }


  /* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #525252;
    margin: auto;
    font-size: small;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }