# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Unit Test - User Interface

on:
  push:
    branches: [ main ]
    paths:
      - User-Interface/**
  pull_request:
    branches: [ main ]
    paths:
      - User-Interface/**
  workflow_dispatch:    

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 17.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: User-Interface/package-lock.json
    - run: npm ci
      working-directory: User-Interface
    - run: npm run-script build --if-present
      working-directory: User-Interface
    - run: npm run-script test
      working-directory: User-Interface
